  {% extends 'halls/base.html' %}
  {% block content %}
  <section class="jumbotron text-center">
 <div class="container">
 	<h1 class="jumbotron-heading">Vous souhaitez retrouver rapidement vos videos YouTube preferees?</h1>
 	<p class="lead text-muted">Pour cela, il suffit de creer un compte! Puis ajoutez en quelques clics vos videos et classez les par categories!</p>
 	<p>
 		<a href="{% url 'create_hall' %}" class="btn btn-primary">Creez votre mur de videos</a>
 	</p>
  </div>
  </section>
 <div class="container">
 	<h1 class="text-center">Videos Populaires</h1>
 {% for hall in popular_halls %}
 <h2><a href="{% url 'detail_hall' hall.id %}">{{ hall.title }}</a></h2>
		<div class="row">
			
			{% for video in hall.video_set.all|slice:"0:3" %}
			<div class="col-md-4 mt-3">
				<div class="card mb-4 shadow-sm">
					<iframe width="100%" height="225" src="https://www.youtube.com/embed/{{ video.youtube_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<div class="card-body">
						<p class="card-text">{{ video.title }}</p>
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
	{% endfor %}		

 	<h1 class="text-center">Les dernieres videos</h1>
 {% for hall in popular_halls %}
 <h2><a href="{% url 'detail_hall' hall.id %}">{{ hall.title }}</a></h2>
		<div class="row">
			
			{% for video in hall.video_set.all %}
			<div class="col-md-4 mt-3">
				<div class="card mb-4 shadow-sm">
					<iframe width="100%" height="225" src="https://www.youtube.com/embed/{{ video.youtube_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<div class="card-body">
						<p class="card-text">{{ video.title }}</p>
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
	{% endfor %}	
 	
 </div>
  
  {% endblock %}
