{% extends 'halls/base.html' %}
{% block content %}
<div class="container">
<h2>Editer votre mur</h2>
<form method="POST">
{% csrf_token %}
{% load widget_tweaks %}
{% for field in form %}
<div class="form-group {% if field.errors %}alert alert-danger{% endif %}">
{{ field.errors }}
{{ field.label_tag }}
{% render_field field class="form-control" %}
</div>
{% endfor %}
<button type="submit" class="btn btn-primary">Enregistrer</button>
</form>
<a href="{% url 'delete_hall' hall.id %}" class="btn btn-danger mt-3">Supprimer cette categorie</a>
</div>

{% endblock %}